:root {
  --color-main-background: #e2ddd3;
  --color-dotteds-rgb: 34, 34, 34;
  --color-card-hover: #e8e9e9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-main-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr;
}

.navbar-container {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numPlayers-selectors {
  display: flex;
  justify-content: center;
}

.numPlayers-select {
  margin-left: 3%;
  margin-right: 3%;
}

.outer-container {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  width: 100%;
}

.board-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlboard-container {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

/* Timer CSS */

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}


/* Timer CSS */