.home {
  min-height: 100vh;
  background-color: var(--color-main-background);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% 8% 4% auto;
  grid-template-areas:
    "nav nav"
    "header header"
    "subheader subheader"
    "buttons buttons";
  
  flex-direction: column;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
}

.subheader {
  grid-area: subheader;
  display: flex;
  justify-content: center;
}

.cardContainer {
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 25%);
}

.card {
  width: 100%;
  height: 100%;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  transition: background-color 0.2s ease-in-out;
  backdrop-filter: blur(2px);
  filter: opacity(0.8);
  background-image: linear-gradient(to right, rgb(var(--color-dotteds-rgb)) 0 10%, rgba(255, 255, 255, 0) 10%);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

.card:hover {
  background-color: var(--color-card-hover);
}

.cardInfo {
  width: 50%;
}

.cardVariantTitle {
  font-size: 1.5em;
}

.cardVariantDescription {
  font-size: 0.8em;
}